*{
    padding: 0;
    margin: 0;
}

body{
    background-color:rgb(93, 141, 65);
    height: 100%;
}

.sideButton{
    background-color:rgb(250, 250, 250);
    border-radius: 5px;
    color: rgb(93, 141, 65) ;
    border:rgb(253, 255, 252) solid 1.5px;
    padding: 3px 10px;
    display: flex;
    margin:10px 20px 0px auto;
    transition: margin 0.3s ease-in-out;

}

.sidebar{
    background-color:rgb(255, 255, 255);
     height: 100vh;
     width: 400px;
     position: fixed;
     top: 4px;
     right: -400px;
     border-radius: 15px 0 0 15px;
     transition: right 0.3s ease-in-out;

}



.sidebar p{
    padding: 15px;
    background-color: rgba(93, 141, 65, 0.418);
    margin: 15px;
    border-radius: 15px;

}

.moveRight{
    right: 0px;
    
}
.moveLeft{
    margin:10px 405px 0px auto;
    border-radius: 40%;
    background-color: red;
    color: white;
   
}










.toDoList{
    width: 500px;
    text-align: center;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.842);
    padding: 10px;
    border-radius: 8px;
    margin-top: 20px; 
      display: flex;
    gap: 10px;
    flex-direction: column;


}
.button{
    background-color:rgb(93, 141, 65);
    border-radius: 15%;
}
.list {

    margin-top: 10px;
    list-style: none;
    text-align: left;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    gap: 5px;
 
}
.list li{
    display: flex;
    align-items: center;
    gap: 2px; 
    background-color: rgba(78, 156, 71, 0.349);
    padding: 4px 6px;
    border-radius: 3px;
    width: 400px;
    

    

}
.inputForm input:first-of-type{
    padding: 3px;
    border-radius: 5px;
    border: white solid;
}
.inputForm input:last-of-type{
    padding: 3px;
    color: white ;
    border:rgb(93, 141, 65) solid;
    
}
.deleteTask{
    text-decoration: line-through;
}

.deleteBackGround{
    background-color: rgba(255, 255, 255, 0.842) ;
}


.overlay {
    position: fixed;
    top: 0;
    bottom:0;
    right: 0;
    left:0;
    background-color: #fbff00;
   
    z-index: 9999999;
} 
